.info__containers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.info__container {
  border: 1px solid var(--lightGrey);
}
.info__container_title {
  background-color: var(--lightestGrey);
  padding: 2rem;
  font-size: 1.2rem;
}
.info__container_body {
  padding: 2rem;
  font-size: 0.9rem;
  color: var(--textGrey);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
@media screen and (min-width: 1000px) {
  .info__containers {
    padding: 1rem 0rem;
  }
}
