.productlist {
  grid-template-columns: repeat(4, 1fr);
}

.filters {
  display: grid;
  padding: 1rem 0rem;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.filter__item_container {
  display: flex;
  gap: 0rem;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}
.filter__item {
  min-width: 100px;
  padding: 0.4rem;
  width: 200px;
  border-radius: 0.3rem;
  display: flex;
  border: 1px solid var(--lightTextGrey);
  background-color: white;
}

.filter__item_artist {
  min-width: 100px;
  padding: 0.4rem;
  width: 200px;
  border-radius: 0.3rem;
  display: flex;
  border: 1px solid var(--lightTextGrey);
  background-color: white;
  justify-content: flex-start;
}

.filter__item_selected {
  padding: 0.5rem 2rem;
  display: flex;
  border: 1px solid var(--lightTextGrey);
}

.filters {
  display: none;
}

.filter {
  position: relative;
}

.orderbutton {
  background-color: var(--lightestGrey);
  color: var(--darkGrey);
  border: none;
  border-radius: 0.3rem;
  padding: 0.2rem 0.8rem;
}

.filter__menu_ordering {
  position: absolute;
  background-color: white;
  top: 2.2rem;
  z-index: 5;
  cursor: pointer;
}

.filter__menu_ordering ul {
  list-style-type: none;
}
.filter__menu_ordering ul li {
  padding: 0.5rem;
  min-width: 200px;
  font-size: 0.9rem;
  border-top: 1px solid var(--lightGrey);
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
}

.filter__menu_ordering ul li:last-of-type {
  border-bottom: 1px solid var(--lightGrey);
}

.filter__menu_ordering ul li:hover {
  background-color: var(--lightestGrey);
  color: var(--textGrey);
}

.filter__item_selected {
  background-color: var(--blue);
  color: white;
}
.artists__container {
  height: 200px;
  min-width: 200px;
  position: absolute;

  border: 1px solid var(--lightGrey);
  background-color: white;
}
.formats__container {
  height: 130px;
  min-width: 200px;
  position: absolute;

  border: 1px solid var(--lightGrey);
  background-color: white;
}
.labels__container {
  height: 170px;
  min-width: 200px;
  position: absolute;

  border: 1px solid var(--lightGrey);
  background-color: white;
}
.artists {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-y: scroll;
  max-height: 150px;
}

.artist {
  padding: 0.5rem;
  border-top: 1px solid var(--lightGrey);
  border-left: 1px solid var(--lightGrey);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

.artist:last-of-type {
  border-bottom: 1px solid var(--lightGrey);
}

.filter__item_applied {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.applyfilter__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.applyfilter__button {
  margin: 1rem;
  background-color: var(--blue);
  color: white;
  padding: 0.5rem;
  border: none;
  width: 150px;
  border-radius: 0.3rem;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .filters {
    display: grid;
    grid-template-columns: auto auto auto;

    justify-content: start;
  }
}

@media screen and (min-width: 870px) {
  .filters {
    display: grid;
    grid-template-columns: auto auto auto auto;

    justify-content: start;
  }
}

@media screen and (min-width: 1000px) {
  .filters {
    display: grid;
    grid-template-columns: auto auto auto;

    justify-content: start;
  }
}

@media screen and (min-width: 1450px) {
  .filters {
    display: grid;
    grid-template-columns: auto auto auto auto;

    justify-content: start;
  }
}
