.auth {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login,
.register {
  padding: 0.5rem;
  width: 100%;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--lightestGrey);
  border-radius: 0.3rem;
}

.title {
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--inputGrey);
  padding: 0.9rem;
}

.login__button {
  background-color: var(--blue);
  padding: 0.9rem;
  color: white;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.form__validation_error {
  color: red;
  font-size: 0.9rem;
}

@media only screen and (min-width: 1000px) {
  .auth {
    display: flex;
    flex-direction: row;
  }
}
