.page__container {
  padding: 0.5rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.productlist__container {
  display: flex;
  flex-direction: column;
}

.productlist {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.searchinfo {
  display: flex;
  gap: 0.5rem;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.searchinfo__query {
  font-style: italic;
}
.searchinfo__productnumber {
  font-weight: 400;
  color: rgb(96, 95, 95);
}

.noitems__container {
  display: flex;
  align-items: center;
  height: 100px;
}

.filters__container {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.filterbutton {
  background-color: rgb(34, 34, 34);
  color: white;
  border: none;
  border-radius: 0.3rem;
  padding: 0.2rem 0.8rem;
}

.orderbuttons_container {
  position: relative;
}

.orderbutton {
  background-color: rgb(230, 228, 228);
  color: rgb(51, 51, 51);
  border: none;
  border-radius: 0.3rem;
  padding: 0.2rem 0.8rem;
}

.ordering {
  position: absolute;
  background-color: white;
  top: 2.2rem;
}

.ordering ul {
  list-style-type: none;
}
.ordering ul li {
  padding: 0.5rem;
  min-width: 150px;
  font-size: 0.9rem;
  border-top: 1px solid rgb(225, 223, 223);
  border-left: 1px solid rgb(225, 223, 223);
}

.ordering ul li:hover {
  background-color: rgb(50, 95, 199);
  color: white;
}

.ordering__selected {
  background-color: rgb(50, 95, 199);
  color: white;
}

@media screen and (min-width: 500px) {
  .productlist {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 700px) {
  .productlist {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1000px) {
  .productlist {
    grid-template-columns: repeat(6, 1fr);
  }
}
